:local(.feed) {
  padding: 2rem 1rem;
  li {
    border: 1rem solid var(--mid-gray);
    margin-bottom: 2rem;
    .owner {
      background-color: var(--soft-black);
      padding: 0.5rem;
      color:var(--mid-gray);
      font-weight: 400;
      a {
        color: white;
        font-weight: 500;
      }
    }
    .content {
      padding: 1rem;
    }
  }
  .giving {
    border-color: var(--magenta);
  }
  .requesting {
    border-color: var(--dark-saffron);
  }
  @media (min-width: 730px) {
    margin: 0 auto;
    width: 550px;
  }
}