:local(.feed) {
  background-color:#4a86e8ff;
  text-align: auto;
  text-indent: 2em;
  grid-auto-rows: 30%;
  h2 {
    font-size: 24pt;
    text-align: center;
  }
  .planOne, .planThree, .planFive, .planSeven {
    //background-color: #ff9900ff;
    //background-color: violet;
    height: 7em;
  }
  .planTwo, .planFour, .planSix {
    background-color: #6aa84fff;
    height: 7em;
  }
}