:local(.profile) {
  margin: 8.5rem auto 0 auto;
  background-color: var(--pale-gray);
  position: relative;
  padding: 4.5rem 7%;
  .name-and-picture {
    position: absolute;
    top: -100px;
    display: flex;
    align-items: center;
    .picture-button {
      background-color: var(--soft-black);
      position: absolute;
      right: 0;
      bottom: 0;
      border: none;
      width: 2rem;
      height: 2rem;
      color: white;
      font-size: 1.5em;
      align-self: flex-end;
      &:hover {
        background-color: var(--magenta);
      }
    }
    .editing {
      background-color: var(--magenta);
    }
  }
  .profile-picture {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("https://user-images.githubusercontent.com/35273043/42075792-670034be-7b27-11e8-9950-1f88efc4902a.png") 50% 50% no-repeat;
  }
  .name {
    margin: 0.5rem 0 0 0.6rem;
  }
  .save-button {
    background-color: var(--mid-gray);
    font-size: 0.8em;
    color: white;
    height: 1.5rem;
    padding: 0 0.3rem;
    &:hover {
      background-color: var(--soft-black);
    }
  }
  form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  input {
    width: 12rem;
    height: 1.5rem;
    border: 1px solid var(--mid-gray);
    font-size: 1em;
    margin: 0 0.5rem;
  }
  @media (min-width: 730px) {
    width: 75%;
  }
  @media (min-width: 900px) {
    width: 675px;
  }
}