:local(.profile) {
  background-color:#4a86e8ff;
  padding-top: 2em;
  img {
    border-radius: 50%;
    height: 10.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    font-family: 'Roboto';
    text-align: center;
    font-size: 24pt;
  }
  h3 {
    font-size: 18pt;
    text-align: left;
    margin-left: 3em;
  }
  h4 {
    font-size: 16pt;
  }
  form {
    display: inline-flex;
    font-size: 14pt;
    padding-bottom: 1em;
  }
  .checkbox {
    font-size: 14pt;
    display: inline-block;
    padding-left: 1em;
  }
  input {
    width: 70%;
    height: 2em;
  }
  .submit {
    width: 6em;
    height: 2em;
  }
  .filler-image {
    font-size: 8em;
    color: white;
    text-align: center;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50%;
    background-color: gray;
  }
}