:local(.header) {
  //background-color:#4a86e8ff;
  //background-color: #ff9900ff;
  //background-color: violet;
  text-align: center;
  font-family: Lobster;
  font-size: 2em;
  padding-top: .5em;
  
  a {
    font-size: 20pt;
    text-decoration: none;
    color: black;
  }
}