:local(.header) {
  .logo {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-size: 4em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    width: fit-content;
    margin: 0 auto;
    background: linear-gradient(150deg,var(--saffron), var(--magenta));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--soft-black);
      padding: 0.5rem 0 0.5rem 0;
      .navigation {
        font-size: 1.2em;
        font-weight: 500;
        color: white;
        padding: 0.5rem;
        position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: 0.2rem solid var(--soft-black);
        left: 50%;
        right: 50%;
        transition: all 0.3s ease;
      }
      &:hover::after {
        border-bottom: 0.2rem solid white;
        left: 0;
        right: 0;
        transition: all 0.3s ease;
      }
      &.current {
        color: var(--dark-saffron);
      }
      &.current::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 0.2rem solid var(--dark-saffron);
      }
      }
      .logout {
        color: var(--soft-black);
        background-color: var(--mid-gray);
        font-size: 1em;
        font-weight: 500;
        padding: 0.2rem;
        &:hover {
          background-color: var(--magenta);
        }
      }
    }
  }
}